<div class="recommendations">
  <h2 class="section-title">Recommendations</h2>

  <div class="recommendations-grid">
    <div
      *ngFor="let item of recommendations$ | async"
      class="parent"
    >
      <div class="card">
        <div class="content-box">
          <span class="card-title">Room {{ item.id }} : {{ item.roomType }}</span>
          <!--<div class="card-image-container" *ngIf="item.roomType">
            <img [src]="item.description" [alt]="item.roomType" class="card-image">
          </div>-->
          <p class="card-content">{{ item.description }}</p>
          <div class="card-footer" >
            <div class="file-info">
              <i class="file-icon">Price Per Minute : ${{item.pricePerMinute }}</i>
            </div>
          </div>
          <span class="see-more">View Details</span>
        </div>
        <div class="date-box">
          <span class="date">Capacity : {{ item.capacity}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
