<div class="sidebar">
  <div class="profile">
    <img src="https://img.freepik.com/vecteurs-libre/ninja-mignon-shuriken-epee-dessin-anime-vecteur-icone-illustration-personnes-vacances-plat-isole_138676-9389.jpg" class="avatar" alt="User Avatar" />
    <div class="profile-details">
      <h3 class="name">anonymos</h3>
    </div>
  </div>

  <nav class="nav-links">
  <button class="nav-button" (click)="navigateTo('dashboard')">
    <a routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
  </button>
  <button class="nav-button" (click)="navigateTo('dashboard')">
    <a routerLink="/dashboard" routerLinkActive="active-link">Insights</a>
  </button>
  <button class="nav-button" (click)="navigateTo('dashboard')">
    <a routerLink="/dashboard" routerLinkActive="active-link">Settings</a>
  </button>
</nav>

</div>
