<div class="card user-info-card" *ngIf="user">
  <h3 class="card-title">User Information</h3>
  <div class="info-grid">
    <div class="info-item">
      <label>Email:</label>
      <span><a href="mailto:belloumiaziz1@gmail.com">{{ user.email }}</a></span>
    </div>
    <div class="info-item">
      <label>Phone:</label>
      <span>{{ user.phoneNumber }}</span>
    </div>
    <div class="info-item">
      <label>Work in:</label>
      <span>empty</span>
    </div>
    <div class="info-item">
      <label>Location:</label>
      <span>empty</span>
    </div>
  </div>
</div>
