<nav class="navbar">
  <div class="nav-left">
    <p>BookingSystem</p>
  </div>
  <ul class="nav-links">
    <li>
      <a routerLink="/home"
         routerLinkActive="active-link"
         [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li>
      <a routerLink="/about"
         routerLinkActive="active-link">About</a>
    </li>
    <li>
      <a routerLink="/services"
         routerLinkActive="active-link">Services</a>
    </li>
    <li>
      <a routerLink="/contact"
         routerLinkActive="active-link">Contact</a>
    </li>
  </ul>

  <div class="nav-actions">
    <button class="cssbuttons-io-button" (click)="onSigninClick()"> Sign In
      <div class="icon">
        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
      </div>
    </button>
  </div>
</nav>
